<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         id="entrysign"
         version="3.1">
    <servlet>
        <servlet-name>last</servlet-name>
        <servlet-class>es.jdl.entrysign.services.rest.LastSignRESTService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sign</servlet-name>
        <servlet-class>es.jdl.entrysign.services.rest.DoSignRESTService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>list</servlet-name>
        <servlet-class>es.jdl.entrysign.services.rest.ListSignService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>last</servlet-name>
        <url-pattern>/last</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sign</servlet-name>
        <url-pattern>/sign</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>list</servlet-name>
        <url-pattern>/list/*</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>es.jdl.entrysign.config.AppConfig</listener-class>
    </listener>

    <filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>all</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>
    <!--
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>list</web-resource-name>
            <url-pattern>/list*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    -->
</web-app>